@charset "UTF-8";

/* BRANDCOLOR : #1C1D22 */
/* ↓ BREAKPOINT ↓ */
/* Display only */
@media only screen and (max-width: 1024px) {}

/* Tablet only */
@media only screen and (max-width: 768px) {}

/* Smartphone only */
@media only screen and (max-width: 480px) {}

/* ↑ BREAKPOINT ↑ */
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

/* ↓ COMMON ↓ */
body {
  font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background: #FFF;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* ↑ COMMON ↑ */
/* ↓ COLOR ↓ */
h1,
h2,
h3,
h4 {
  color: #1C1D22;
}

p {
  color: #333333;
}

a {
  color: #190101;
}

body {
  color: #1C1D22;
}

.trade,
.copy {
  color: #dddddd;
}

.footer-icon {
  background: #dddddd;
}

.footer-icon:hover {
  background: #eeeeee;
}

.footer-icon .icon {
  fill: #aaaaaa;
  opacity: 1;
}

/* twitter */
.icon-twitter:hover {
  fill: #00b6f1;
}

/* facebook */
.icon-facebook:hover {
  fill: #3b5998;
}

/* instagram */
.icon-instagram:hover {
  fill: #c32aa3;
}

/* github */
.icon-github:hover {
  fill: #6e5494;
}

/* pinterest */
.icon-pinterest:hover {
  fill: #cb2027;
}

/* google+ */
.icon-googleplus:hover {
  fill: #df4a32;
}

/* drag */
::-moz-selection {
  background: #eeeeee;
  color: #ffffff;
}

::selection {
  background: #eeeeee;
  color: #ffffff;
}

/* ↑ COLOR ↑ */
/* ↓ FONT ↓ */
/* Height */
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

p {
  line-height: 1.8;
}

/* Bold */
h1,
h2,
h3,
h4 {
  font-weight: 700;
}

/* Medium */
p,
a {
  font-weight: 500;
}

/* Size */
h1 {
  font-size: 4.0rem;
  font-size: 40px;
}

h2 {
  font-size: 3.2rem;
  font-size: 32px;
}

h3 {
  font-size: 2.4rem;
  font-size: 24px;
}

h4,
a {
  font-size: 1.6rem;
  font-size: 16px;
}

p {
  font-size: 1.4rem;
  font-size: 14px;
}

/* Tablet only */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3.2rem;
    font-size: 32px;
  }

  h2 {
    font-size: 2.4rem;
    font-size: 24px;
  }

  h3 {
    font-size: 1.6rem;
    font-size: 16px;
  }

  h4,
  a {
    font-size: 1.2rem;
    font-size: 12px;
  }
}

/* ↑ FONT ↑ */
/* ↓ HEADER ↓ */
header .greeting-name .catch {
  font-size: 4.0rem;
  font-size: 40px;
  font-weight: 700;
}

/* Tablet only */
@media only screen and (max-width: 768px) {
  header .greeting-name .catch {
    font-size: 3.2rem;
    font-size: 32px;
  }
}

/* ↑ HEADER ↑ */

.container .work-theme {
  font-size: 30px;
  font-size: 3rem;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 48px;
  line-height: 4.8rem;
  letter-spacing: 0;
  margin-bottom: 30px;
  margin-bottom: 3.0rem;
}

h3.title {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  letter-spacing: 0.2rem;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
}

.trade {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-size: 1rem;
  letter-spacing: 1px;
  letter-spacing: 0.1rem;
}

.label {
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 2px;
  letter-spacing: 0.2rem;
}

.copy {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-size: 1rem;
  letter-spacing: 1px;
  letter-spacing: 0.1rem;
}

/* font-smartphone only */

@media only screen and (max-width: 768px) {
  header .top-title {
    font-size: 50px;
    font-size: 5rem;
    line-height: 55px;
    line-height: 5.5rem;
    margin-bottom: 25px;
    margin-bottom: 2.5rem;
  }

  header .title {
    font-size: 25px;
    font-size: 2.5rem;
    line-height: 40px;
    line-height: 4.0rem;
    margin-bottom: 25px;
    margin-bottom: 2.5rem;
  }

  header .sentence {
    font-size: 14px;
    font-size: 1.4rem;
  }

  .container .work-theme {
    font-size: 25px;
    font-size: 2.5rem;
    line-height: 40px;
    line-height: 4.0rem;
    margin-bottom: 25px;
    margin-bottom: 2.5rem;
  }
}

/* layout */

html {
  border: 8px solid #1C1D22;
}

body {
  height: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

header {
  padding: 55px;
  margin-bottom: 55px;
  text-align: center;
  background: #fff;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* font-smartphone only */

@media only screen and (max-width: 768px) {
  header {
    padding: 40px;
  }
}

header .border {
  display: inline-block;
  width: 100px;
  height: 2px;
  background: #000;

}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* font-smartphone only */

@media only screen and (max-width: 768px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

aside {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100vh;
  background: #ffffff;
}

/* font-smartphone only */

@media only screen and (max-width: 768px) {
  aside {
    height: auto;
  }
}

.container {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  min-height: 100vh;
  overflow-y: scroll;
  text-align: center;
  background: #ffffff;
}

/* font-smartphone only */

@media only screen and (max-width: 768px) {
  .container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: auto;
    padding: 0 5%;
    overflow-y: visible;
  }
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* font-smartphone only */

@media only screen and (max-width: 768px) {
  .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.grid-item {
  margin-left: 3%;
/*  background: #e2e2e2;*/
}

.grid-item img {
  max-width: 100%;
}

/* font-smartphone only */

@media only screen and (max-width: 768px) {
  .grid-item {
    margin: 0;
  }
}

.caption {
  width: auto;
  margin: 20px;
  text-align: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

/* font-smartphone only */

@media only screen and (max-width: 768px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: auto;
  }
}

.menu li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

/* font-smartphone only */

@media only screen and (max-width: 768px) {
  .menu li {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    height: 10vh;
  }
}

.menu li a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.menu li a .label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.menu li a .label:after {
  display: block;
  width: 20px;
  height: 2px;
  content: "";
  background: #1c1d22;
}

.menu li a .label:before {
  display: block;
  width: 20px;
  height: 2px;
  content: "";
  background: #dddddd;
  position: absolute;
  bottom: -2px;
  left: 0;
  opacity: 1;
}

.menu li a .label:after {
  display: block;
  width: 20px;
  height: 2px;
  content: "";
  background: #1c1d22;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  opacity: 1;
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.menu li a .label:hover:after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

footer {
  padding: 55px;
  text-align: center;
  background: #ffffff;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* font-smartphone only */

@media only screen and (max-width: 768px) {
  footer {
    padding: 40px 5px;
  }
}

.footer-social {
  margin-bottom: 55px;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer-social li {}

.footer-icon {
  display: block;
  padding: 5px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
}

.footer-icon:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-icon .icon {
  stroke-width: 0;
  width: 100%;
  height: 100%;
}
