@charset "UTF-8";

/* BRANDCOLOR : #1C1D22 */
/* ↓ BREAKPOINT ↓ */
/* Display only */
@media only screen and (max-width: 1024px) {}

/* Tablet only */
@media only screen and (max-width: 768px) {}

/* Smartphone only */
@media only screen and (max-width: 480px) {}

/* ↑ BREAKPOINT ↑ */
/* ↓ LAYOUT ↓ */
.container .message,
.container .careers,
.container .avatar {
  padding: 40px 12px;
}

.container h2,
.container h3,
.container p {
  margin: 16px 0 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Tablet only */
@media only screen and (max-width: 768px) {

  .container .message,
  .container .careers,
  .container .avatar {
    padding: 20px 0;
  }

  .container h2,
  .container h3,
  .container p {
    margin: 8px 0 0;
  }
}

/* ↑ LAYOUT ↑ */
/* ↓ HEADER ↓ */



/* Tablet only */
@media only screen and (max-width: 768px) {}


/* ↑ HEADER ↑ */
/* ↓ MESSAGE ↓ */
.message p {
  text-align: left;
}

/* Tablet only */
@media only screen and (max-width: 768px) {}

/* ↑ MESSAGE ↑ */
.message .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 10vh;
}
